<!DOCTYPE html>
<div ng-controller="browseCtrl" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage" ng-app="browse">


    <div>
      <form name="userForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Search all meals </label>
            <input type="text" ng-model="user.input">
          </md-input-container>

					  <div>
					    
					    
					      <md-input-container>
					        <label>Search by Protein</label>
					        
                  <md-select ng-model="ingredient">
                    <md-menu-content width="2">
					          <md-optgroup label="Meats">
					            <md-button ng-click="searchIngredient(ingredient)" ng-value="ingredient.name" ng-repeat="ingredient in proteins | filter: {category: 'meat' }" >{{ingredient.name}}
                      </md-button>
					          </md-optgroup>
					          <md-optgroup label="Veggies">
					            <md-button ng-click="searchIngredient(ingredient)" ng-value="ingredient.name" ng-repeat="ingredient in proteins | filter: {category: 'veg' }" >{{ingredient.name}}
                    </md-button>
					          </md-optgroup>
                  </md-menu-content>
                </md-select>


					      </md-input-container>
					    
					   
					  </div>

            <div>
            <md-input-container>
                  <label>Search by Diet</label>
                  
                  <md-select ng-model="ingredient">
                    <md-menu-content width="2">
                    <md-optgroup label="Restrictions">
                      <md-button ng-click="searchIngredient(ingredient)" ng-value="ingredient.name" ng-repeat="diet in restrict" >{{diet}}
                      </md-button>
                    </md-optgroup>                   
                  </md-menu-content>
                </md-select>


                </md-input-container>

              </div>
					

        </div>
      </form>
    </div>

    <div ng-repeat='meal in data' | filter: user.input>
			<div class='carddemoBasicUsage'>
			  <md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start" layout-xs="column" >
			    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
			      <md-card>
			        <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline">{{ meal.description }}</span>
			            <span class="md-subhead">{{ meal.creator }}</span>
                  <span class="md-subhead">{{ meal.protein }}</span>
			          </md-card-title-text>
			          <md-card-title-media>
			            <div class="md-media-lg card-media"></div>
			          </md-card-title-media>
			        </md-card-title>
			        <md-card-actions layout="row" layout-align="end center">
			          <md-button>Request an exchange</md-button>
			          <md-button>Add to favorites</md-button>
			        </md-card-actions>
			      </md-card>
			     
			    </div>
			  </md-content>
			  </div>
		  </div> <!-- last div for the ng-repeat DemoCtrl -->

  <fmp-card class="my-card" id="card-2" suffix="right" front-caption="Right Card" small-card-width="20px" small-card-height="20 px">
        <div class="back-text">{{rightBackText}}</div>
    </fmp-card>    






</div><!-- last div for the ng-controller DemoCtrl -->


<hr class="hr1">

